<div class = row>
    <div class = "col-md-12">
<h1>"CULTURE FASION ONLINE SALON"へようこそ</h1>
<br></br>
<hr>
<h2>-WHAT IS CULTURE FASION ONLINE SALON-</h2>
<p>今流行りのオンラインサロンです。</p>
機能一覧：スレッド、レス及びユーザー情報一覧詳細削除更新投稿（いわゆるCRUD）機能/
ユーザー管理機能/タグ付け機能（いわゆる多対多リレーション）/タグ検索機能/ページネーション機能/
画像投稿機能/テストコード
<br></br>
<hr>
<h2>-WHY-</h2>
ファストファッション全盛で服に対して興味のない人が増えている現代で、
毎日を豊かにしてくれるファッションというカルチャーの素晴らしさに、
サイトを入り口に興味を持ってもらうためです
<br></br>
<hr>
<h2>-HOW-</h2>
ruby on rails, css,bootstrap、javascriptで作成しました。
IDEはaws cloud9で、githubにpushする度にherokuで自動デプロイする設定にしていました。
githubで数時間単位のタスクをissueで管理し、対応する作業ブランチを切って実装終了するたびにプルリクして、issueと不要ブランチクローズという流れでやっていました。
現場の複数人開発を想定したgithub flowへの理解も上がりましたし、タスクを可視化することでモチベーションも維持できたので良かったです。
GitHub :https://github.com/takafk9/qanda
<br></br>
<hr>
<h2>-HOW LONG-</h2>
１ヶ月ほどです。
<br></br>
<hr>
<h2>-TODO-</h2>
UIをネイティブアプリっぽく（react.jsなどで）、面白い技術を取り入れたりしていきたいです。（例えば、好みや予算の条件をいれるとおすすめのコーデを提案してくれる、事前に登録した自分のモデルをつかって擬似試着など）
CIでpushするたびにテストしていく仕様にもしていきます。

ただ技術を発信シェアするだけでもいいのですが、多くのギークが技術を入り口にこのサイトを訪れ、少しでもファッションカルチャーへ興味を持ってもらうことも目的に頑張っていきたいです。
</div>
</div>